<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.lemont.songshower.dao.DBUserInfoMapper">
  <resultMap id="BaseResultMap" type="cn.com.lemont.songshower.VO.DBUserInfoVO">
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from db_user_info
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.com.lemont.songshower.VO.DBUserInfoVO">
    insert into db_user_info (user_id, user_name)
    values (#{userId,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.com.lemont.songshower.VO.DBUserInfoVO">
    update db_user_info
    set user_name = #{userName,jdbcType=VARCHAR}
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select user_id, user_name
    from db_user_info
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select user_id, user_name
    from db_user_info
  </select>
  <select id="selectByUserName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select user_id, user_name
    from db_user_info
    where user_name = #{userId,jdbcType=VARCHAR}
  </select>
</mapper>