<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.lemont.songshower.dao.DZUserSongMapper">
  <resultMap id="BaseResultMap" type="cn.com.lemont.songshower.VO.DZUserSongVO">
    <id column="uuid" jdbcType="VARCHAR" property="uuid" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="song_id" jdbcType="INTEGER" property="songId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from dz_user_song
    where uuid = #{uuid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.com.lemont.songshower.VO.DZUserSongVO">
    insert into dz_user_song (uuid, user_id, song_id
      )
    values (#{uuid,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER}, #{songId,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.com.lemont.songshower.VO.DZUserSongVO">
    update dz_user_song
    set user_id = #{userId,jdbcType=INTEGER},
      song_id = #{songId,jdbcType=INTEGER}
    where uuid = #{uuid,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select uuid, user_id, song_id
    from dz_user_song
    where uuid = #{uuid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select uuid, user_id, song_id
    from dz_user_song
  </select>
</mapper>